<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="styles.css">
    <title>Newspaper Homepage</title>
  </head>

<body>

<div class="head">
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox"><span><form action="/news">
        <input type="text" name="location">
        <button type="submit">Change Location?</submit>
      </form></span></div>
        <header><%=@location%> Daily</header>
        
    </div>
<div class="container mt-12">
      <div class="subhead">Currently: <%=@curr_summ%> and <%=@curr_temp%>°F</div>
      </div>
</div>

<div class="container mt-12">
<div class="content">
    <div class="collumns">
<% i=0 %>
    <% for day in @forecast_array[0..4] %>
        <div class="collumn">
            <div class="head"><span class="headline hl3"><%=(Date.today + i + 1).strftime("%A")%></span>
            <span class="headline hl10"><%=(Date.today + i + 1).strftime("%m/%d")%></span></div>
            <span class="headline hl6"><%=day["temperatureHigh"]%>°F</span>
            <span class="headline hl6"><%=day["summary"]%></span>
            </div>
                  <% i=i+1 %>
    <%end%>
    </div>
</div>
</div>

      <div class="head">
<div class="container mt-12">
      <div class="subhead">Top Stories in <%=@cname%> </div>
      </div>
      </div>

      <div class="container">
        <div class="row">
      <div class="container mt-6">
       <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
    <% j=0 %>
    <% for story in @articles[0..4] %>
    <div>
      <h4><a href="<%=story["url"]%>"><%= j+1 %> <%=story["title"]%></a></h4>
      </div>
      <% j=j+1 %>
    <%end%>
    </div>
    </div>
    </div>
    </div>

</body>
</html>

